*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    color-scheme: light;
    --background: #fff4d2;
    --background-alt: #d36140;
    --background-inner: #ffdeb3;
    --background-today: #8fdf82;
    --border-outer: #000;
    --border-inner: #fff;
    --button-hover: #3273ff;
    --button-select: #560101;
    --text-normal: #000;
    --text-opp: #fff;
    --text-faded: #aaa;
    --text-linked: #4a1424;
    --text-black: #000;
    --text-white: #fff;
    --rip-red: #f76555;
    --rip-orange: #f79341;
    --rip-yellow: #f0ce72;
    --rip-green: #96df65;
    --rip-blue: #87d8e3;
    --rip-purple: #f19ee6;
}

.badge-shadow-b, .badge-shadow {
  --border-outer-alpha: rgba(0, 0, 0, 0.1);
}

.selected-preference {
  --border-outer-alpha: rgba(0, 0, 0, 0.2);
}

.badge-shadow-b, .badge-shadow, .selected-preference{
  filter: 
    drop-shadow(1px 0px 0 var(--border-outer-alpha))
    drop-shadow(-1px 0px 0 var(--border-outer-alpha))
    drop-shadow(0px 1px 0 var(--border-outer-alpha))
    drop-shadow(0px -1px 0 var(--border-outer-alpha))
    drop-shadow(1px -1px 0 var(--border-outer-alpha))
    drop-shadow(-1px -1px 0 var(--border-outer-alpha))
    drop-shadow(1px 1px 0 var(--border-outer-alpha))
    drop-shadow(1px -1px 0 var(--border-outer-alpha));
}

.invert-light {
  filter: invert(1);
}